<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('blocks/header'); -%>
    <main>
        <form id="formular" action="/submit" method="post" class="formular">
            <div class="profileCardWraper">
                <% people.forEach(function(person){ %>
                    <div class="profileCard">
                        <h2><%= person.name %></h2>
                        <p>Peníze: <%= person.money %>, Síla: <%= person.power %>, Zkušenosti: <%= person.experience %></p>
                        <input type="checkbox" id="<%= person.id %>Check"><label>Upravovat hromadně</label>
                        <h3>Změny hodnot:</h3>
                        <input type="number" name="<%= person.id %>money" placeholder="Peníze" step="1">
                        <input type="number" name="<%= person.id %>power" placeholder="Síla" step="1">
                        <input type="number" name="<%= person.id %>experience" placeholder="Zkušenosti" step="1">
                    </div>
                <% }) %>
                <div class="profileCard">
                    <h2>Hromadná úprava zaškrtnutých</h2>
                    <input type="checkbox" id="oznacVse" value="true"><label>Označ vše</label>
                    <h3>Změny hodnot:</h3>
                    <input type="number" id="allMoney" placeholder="Peníze" step="1">
                    <input type="number" id="allPower" placeholder="Síla" step="1">
                    <input type="number" id="allExperience" placeholder="Zkušenosti" step="1">
                </div>
            </div>
            <button type="submit" style="margin-top: 60px;">Odeslat změny</button>
        </form>
    </main>
    <%- include('blocks/footer'); -%>
</body>
<script src="js/index.js"></script>
</html>