<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistiky</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">
</head>
<body>
    <%- include('blocks/header'); -%>
    <main>
        <input type="text" id="nameContains">
        <a id="nameContainsBtn" href="?sortBy=name&order=asc&nameContains="><button style="margin-bottom: 60px;">Filtrovat</button></a>
        <a id="cancelNameContains" href=""><button>Zrušit</button></a>
        
        <table>
            <thead>
                <tr>
                    <th id="sortByName"><a href="?sortBy=name&order=asc" class="asc">Jméno</a></th>
                    <th id="sortByMoney"><a href="?sortBy=money&order=desc" class="desc">Peníze</a></th>
                    <th id="sortByPower"><a href="?sortBy=power&order=desc" class="desc">Síla</a></th>
                    <th id="sortByExperience"><a href="?sortBy=experience&order=desc" class="desc">Zkušenosti</a></th>
                </tr>
            </thead>
            <tbody>
                <% if (people.length === 0) { %>
                    <tr><td colspan="4">Takovému filtru neodpovídají žádné položky.</td></tr>
                <% } else { %>
                    <% people.forEach(function(person) { %>
                        <tr>
                            <td><%= person.name %></th>
                            <td><%= person.money %></th>
                            <td><%= person.power %></th>
                            <td><%= person.experience %></th>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </main>
    <%- include('blocks/footer'); -%>
</body>
<script src="js/stats.js"></script>
</html>